*{
    margin:0px;
    padding:0px;
    font-family: 'Rubik', sans-serif;
}

:root{
    --background-color: #89cff0;
    --secondary-color: #456777;
}


body{
    background-color:var(--background-color);
}

/*navbar*/
#topbar{
    background-color:white;
    box-shadow:0px 10px 10px #00000065;
    
    font-size:1.75vw;  
    z-index:10;
    position:relative;
}
#navlist li{
    flex-shrink:0;
    flex-grow:0;
    padding-top:20px;
    padding-bottom:20px;
    list-style-type:none;
    margin-left:2rem;
 
    
   
}
#navlist li:nth-child(5){
    flex-grow:1;
    text-align:right;
    margin-right:2rem;
}

/*#navlist li:nth-child(6){
    margin-right:2rem;
}*/             /* if profile is ever added back in, bring this back */

#navlist{
    padding:0px;
    display:flex;
    flex-flow:row wrap;
    justify-content:flex-start;
 
    background-color:white;
}

.current{
    color:#89cff0;
    font-weight: bold;
    text-decoration:underline #89cff0;
}

#navlist a:link{
    text-decoration:none;
    color:black;
}
#navlist a:visited{
    color:black;
}


/* taken from here https://codepen.io/maheshambure21/pen/QwXaRw */
#topbar ul li a:hover,
#topbar ul li a:after,
#topbar ul li a:before {
  transition: all .5s;
}   
nav ul li a:hover {
  color: #555;
}

/* stroke */
#topbar ul li a,
#topbar ul li a {
  position: relative;
}
#topbar ul li a:after,
#topbar ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
#topbar ul li a:hover:after {
  width: 100%;
}

#topbar ul li a:hover {
  transition: all 2s;
}

#topbar ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
#topbar ul li a:hover {
  color: #fff;
  z-index: 1;
}
#topbar ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
/* Keyframes */
@-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #333;
    }
  }
