<article class="gallery">
    <div class = "content">  
        <h3 class = "animalName"> 
            {{animalName}}
        </h3>    
        <img class = "animalPicture" src="{{animalImage}}" />
        <p class = "description">{{description}}</p>
    </div>
</article>