<ul class="animal">
    <div class="animal-rank-trophy">
        <i class="fas fa-trophy"></i>
    </div>
    <div class="animal-rank">15</div>
    <h3 class="animal-pic">
        <img class="animalImage" src="{{animalImage}}">
    </h3>
    <h3 class="animal-name">
        {{animalName}}
    <h5 class="animal-type">
        Type: {{animalType}}
    </h5>
    <h5 class="animal-age">
        Age: {{animalAge}}
    </h5>
    <h5 class="animal-votes">
        Votes: 5
    </h5>
</ul>

 
