 <ul class="animal">
     <li class="animal-rank">
         <i class="fas fa-trophy"></i> 
     </li>
     <li class="animal-pic">
         <img class="animalImage" src="{{animalImage}}">
     </li>
     <li class="animal-name">
         {{animalName}}
     <li class="animal-type">
         {{animalType}}
     </li>
     <li class="animal-age">
         {{animalAge}}
     </li>
     </li>
 </ul>