<div class="listOption-navbar-search">
  <input type="text" id="navbar-search-input" placeholder="Search for name...">
  <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
</div>