<article class="twit">
    <div class="twit-icon">
      <i class="fa fa-bullhorn"></i>
    </div>
    <div class="twit-content">
      <p class="twit-text">
        {{text}}
      </p>
      <p class="twit-author">
        <a href="#">{{author}}</a>
      </p>
    </div>
  </article>