<!--RATE PAGE-->



<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="/navbar-style/NavbarStyle.css" media="screen">
      
      <link rel="stylesheet" href="/rate/dropdown.css" />
      <script src="/rate/dropdown.js" charset="utf-8" defer></script>
      {{{_sections.head}}}
    </head>

    <body>
      <div id="topbar">
          <ul id="navlist">
              
            <li class="navitem" id="rate"><a  href="/rate/all" class = "navitem-link" id="rate-link">Rate</a></li>
            <!--<li class="navitem" id="guess"><a  href="/guess" class = "navitem-link" id="guess-link">Guess!</a></li>-->
            <li class="navitem" id="gallery"><a  href="/gallery" class = "navitem-link" id="gallery-link">Gallery</a></li>
            <li class="navitem" id="leaderboards"><a href="/leaderboards" class = "navitem-link" id="leaderboards-link">Leaderboards</a></li>
            <li class="navitem" id="upload"><a href="/upload" class="navitem-link" id="upload-link">Upload Your Animal</a></li>
            <!--<li class="navitem"><a href="profile/profile.html" class="navitem-link">My Profile</a></li>-->
          </ul>
      </div>
      <div class="dropdown">
        <div class="dropdown-content">
          <a href="/rate/all" class="inactive" id="all">All</a>
          <a href="/rate/cats" class="inactive" id="cats">Cats</a>
          <a href="/rate/dogs" class="inactive" id="dogs">Dogs</a>
          <a href="/rate/other" class="inactive" id="other">Other</a>
        </div>
      </div>
      {{{body}}}




    </body>
  </html>
