<!--RATE PAGE-->



<!DOCTYPE html>
<html>
  <head>
      {{{_sections.head}}}
    </head>

    <body>
      <div id="topbar">
          <ul id="navlist">
              
            <li class="navitem"><a  href="/rate" class = "navitem-link">Rate</a></li>
            <li class="navitem"><a  href="/guess" class = "navitem-link">Guess!</a></li>
            <li class="navitem"><a  href="/gallery" class = "navitem-link">Gallery</a></li>
            <li class="navitem"><a href="/leaderboards" class = "navitem-link">Leaderboards</a></li>
            <li class="navitem"><a href="/upload" class="navitem-link">Upload Your Animal</a></li>
            <!--<li class="navitem"><a href="profile/profile.html" class="navitem-link">My Profile</a></li>-->
          </ul>
      </div>

      {{{body}}}




    </body>
  </html>
