

    {{#section 'head'}}
        <meta charset="utf-8">
        <title>404 File Not Found</title> <!--Title too long make it better-->

     
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/404/404.css" media="screen">
        <script src="/404/404.js" charset="utf-8" defer></script>
      {{/section}}
        <div id="message_holder">
            <p id="error_text">Whoops! You aren't supposed to be here. Pick one of our web developers to fire! Then we'll take you back to the home page.</p>
            <div id="dev_wrapper">
                <div class="web_dev_holder" id="jacob">
                    <img class="web_dev_img" src="/public/devs/jacob.png">
                    <p class="web_dev_name" >Jacob</p>
                </div>
                <div class="web_dev_holder" id="jessica">
                    <img class="web_dev_img" src="http://placekitten.com/200/200">
                    <p class="web_dev_name" >Jessica</p>
                </div>
                <div class="web_dev_holder" id="malini">
                    <img class="web_dev_img" src="http://placekitten.com/200/200">
                    <p class="web_dev_name" >Malini</p>
                </div>
            </div>


        </div>