

{{#section 'head'}}
    <meta charset="utf-8">
    <title>Gallery</title> 

    <link rel="stylesheet" href="/gallery/gallery.css" media="screen">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
{{/section}}
    
    <h1>Gallery</h1>

        <ul id="options">
            <li class="listOption"><a href="#"class = "navitem-link"></a>Name</a></li>
            <li class="listOption"><a href="#"class = "navitem-link"></a>Animal</a></li>
            <li class="listOption"><a href="#"class = "navitem-link"></a>Age</a></li>
        </ul>


    <main class="gallery-container">
        <article class="gallery">
            
            <div class = "content">  
                <h3> Animal </h3>    
                <div class = "picture">
                </div>
                <p class = "lol"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula vestibulum mauris sed iaculis. Curabitur mi augue, pulvinar at suscipit sed, aliquet ut augue. Pellentesque nec placerat sem. Proin a.</p>
            </div>
        </article>

        <article class="gallery">
            <div class = "content">      
                <h3> Animal </h3>   
                <div class = "picture">
                </div>
                <p class = "lol"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula vestibulum mauris sed iaculis. Curabitur mi augue, pulvinar at suscipit sed, aliquet ut augue. Pellentesque nec placerat sem. Proin a.</p>
            </div>
        </article>

        <article class="gallery">
            <div class = "content">      
                <h3> Animal </h3>   
                <div class = "picture">
                </div>
                <p class = "lol"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula vestibulum mauris sed iaculis. Curabitur mi augue, pulvinar at suscipit sed, aliquet ut augue. Pellentesque nec placerat sem. Proin a.</p>
            </div>
        </article>

        <article class="gallery">
            <div class = "content"> 
                <h3> Animal </h3>        
                <div class = "picture">
                </div>
                <p class = "lol"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula vestibulum mauris sed iaculis. Curabitur mi augue, pulvinar at suscipit sed, aliquet ut augue. Pellentesque nec placerat sem. Proin a.</p>
            </div>
        </article>


<script>var current = document.getElementById("gallery"); current.classList.toggle("current"); current.removeChild(document.getElementById("gallery-link")); current.textContent = "Gallery";</script>
