

{{#section 'head'}}
    <meta charset="utf-8">
    <title>Gallery</title> 

    <link rel="stylesheet" href="/gallery/gallery.css" media="screen">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
     <script src="/gallery/galleryTemplate.js"charset = "utf-8" defer></script>
     <script src="/gallery/loadAnimals.js" charset="utf-8"defer></script>
    <script src="/gallery/gallery.js" charset="utf-8" defer></script>
   
{{/section}}
    <div id = "greaterContainer" >
    <h1>Gallery</h1>

        <ul id="options">
            <li class="listOption"><a href="#"class = "navitem-link"></a>Name</a></li>
            <li class="listOption"><a href="#"class = "navitem-link"></a>Animal</a></li>
            <li class="listOption"><a href="#"class = "navitem-link"></a>Age</a></li>
            <li class="listOption-navbar-search">
                <input type="text" id="navbar-search-input" placeholder="Search...">
                <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
           </li>
        </ul>


    <main class="gallery-container">
        

   </main>
   <button type="button" id="loadMore">Load More</button>
<script>var current = document.getElementById("gallery"); current.classList.toggle("current"); current.removeChild(document.getElementById("gallery-link")); current.textContent = "Gallery";</script>
