

{{#section 'head'}}
    <meta charset="utf-8">
    <title>Guess How Other's Chose</title> <!--Title too long make it better-->

    <link rel="stylesheet" href="/navbar-style/NavbarStyle.css" media="screen">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
{{/section}}



<script>var current = document.getElementById("guess"); current.classList.toggle("current"); current.removeChild(document.getElementById("guess-link")); current.textContent = "Guess";</script>