{{#section 'head'}}
    <meta charset="utf-8">
        <title>Leaderboards</title>

        <link rel="stylesheet" href="/leaderboards/leaderboards.css" media="screen">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/leaderboards/leaderboardTemplate.js"charset = "utf-8" defer></script>
        <script src="/leaderboards/loadAnimals.js" charset="utf-8"defer></script>
      <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Outline&display=swap" rel="stylesheet">

    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">
{{/section}}

  <body>
        <h1>
            LEADERBOARD
        </h1>
        <ul id="sort-dropdown">
            <button type="button" id="sort-by-button"><i class="fas fa-list-ol"></i></button>
                <ul>
                    <li><a href="#" id="sort-choice">By highest rank</a></li>
                    <li><a href="#" id="sort-choice">By lowest rank</a></li>
                </ul>
        </ul>
        <div id="box">
            <div id="createBox">


        <ul class="animal">
            <div class="animal-rank-trophy">
                <i class="fas fa-trophy"></i>
            </div>
            <div class="animal-rank">15</div>

            <h3 class="animal-pic">
                <img class="animalImage" src="https://cdn.pixabay.com/photo/2017/11/06/09/53/animal-2923186_1280.jpg">
            </h3>
            <h3 class="animal-name">
                Fluffy
            <h5 class="animal-type">
                Type: Cat
            </h5>
            <h5 class="animal-age">
                Age: Baby
            </h5>
            <h5 class="animal-age">
                Votes: 5
            </h5>
        </ul>


                <button type="button" id="loadMore">Load More</button> <!--Move this where you will -->
            </div>   
        </div>
  <body>

<script>var current = document.getElementById("leaderboards"); current.classList.toggle("current"); current.removeChild(document.getElementById("leaderboards-link")); current.textContent = "Leaderboards";</script>

