{{#section 'head'}}
    <meta charset="utf-8">
        <title>Leaderboards</title>

        <link rel="stylesheet" href="/leaderboards/leaderboards.css" media="screen">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Outline&display=swap" rel="stylesheet">

{{/section}}


        <h1>
            LEADERBOARD
        </h1>
        <ul id="boardColumns">
            <li class="boardItem"><a href="#"class = "navitem-link"></a>>Rank</a></li>
            <li class="boardItem"><a href="#"class = "navitem-link"></a>>Name</a></li>
            <li class="boardItem"><a href="#"class = "navitem-link"></a>>Type</a></li>
            <li class="boardItem"><a href="#"class = "navitem-link"></a>>Age</a></li>
        </ul>
        <div id="box">
            <div id="createBox">
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
                Leaderboard Text Leaderboard Text Leaderboard Text
            </div>
        </div>



<script>var current = document.getElementById("leaderboards"); current.classList.toggle("current"); current.removeChild(document.getElementById("leaderboards-link")); current.textContent = "Leaderboards";</script>