{{#section 'head'}}
    <meta charset="utf-8">
        <title>Leaderboards</title>

        <link rel="stylesheet" href="/leaderboards/leaderboards.css" media="screen">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Outline&display=swap" rel="stylesheet">

    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">
{{/section}}

  <body>
        <h1>
            LEADERBOARD
        </h1>
        
        <ul id="sort-dropdown">
            <button type="button" id="sort-by-button"><i class="fas fa-list-ol"></i></button>
                <ul>
                    <li><a href="#" id="sort-choice">By highest rank</a></li>
                    <li><a href="#" id="sort-choice">By lowest rank</a></li>
                </ul>
        </ul>
        <ul id="boardColumns">
            <li class="boardItem" id = "rank"><a href="#"class = "navitem-link">Rank</a></li>
            <li class="boardItem" id = "rank"><a href="#"class = "navitem-link">Name</a></li>
            <li class="boardItem" id = "rank"><a href="#"class = "navitem-link">Type</a></li>
            <li class="boardItem" id = "rank"><a href="#"class = "navitem-link">Age</a></li>
        </ul>
        <div id="box">
            <div id="createBox">

                <ul class="animal">
                    <li class="animal-rank">
                        <i class="fas fa-trophy"></i> 1                    
                    </li>
                    <li class="animal-pic">
                        <img src="http://placekitten.com/g/100/100">
                    </li>
                    <li class="animal-name">
                        Oreo
                    <li class="animal-type">
                        Cat
                    </li>
                    <li class="animal-age">
                        Baby
                    </li>
                    </li>
                </ul>
                
                <ul class="animal">
                    <li class="animal-rank">
                        <i class="fas fa-trophy"></i> 2                    
                    </li>
                    <li class="animal-pic">
                        <img src="http://placekitten.com/g/100/100">
                    </li>
                    <li class="animal-name">
                        Loli
                    <li class="animal-type">
                        Dog
                    </li>
                    <li class="animal-age">
                        Baby
                    </li>
                    </li>
                </ul>

                <ul class="animal">
                    <li class="animal-rank">
                        <i class="fas fa-trophy"></i> 3                    
                    </li>
                    <li class="animal-pic">
                        <img src="http://placekitten.com/g/100/100">
                    </li>
                    <li class="animal-name">
                        Milo
                    <li class="animal-type">
                        Dog
                    </li>
                    <li class="animal-age">
                        Adult
                    </li>
                    </li>
                </ul>

                <ul class="animal">
                    <li class="animal-rank">
                        <i class="fas fa-trophy"></i> 4                    
                    </li>
                    <li class="animal-pic">
                        <img src="http://placekitten.com/g/100/100">
                    </li>
                    <li class="animal-name">
                        Coco
                    <li class="animal-type">
                        Cat
                    </li>
                    <li class="animal-age">
                        Adult
                    </li>
                    </li>
                </ul>

                <ul class="animal">
                    <li class="animal-rank">
                        <i class="fas fa-trophy"></i> 5                    
                    </li>
                    <li class="animal-pic">
                        <img src="http://placekitten.com/g/100/100">
                    </li>
                    <li class="animal-name">
                        Moon
                    <li class="animal-type">
                        Cat
                    </li>
                    <li class="animal-age">
                        Baby
                    </li>
                    </li>
                </ul>
                
                <ul class="animal">
                    <li class="animal-rank">
                        <i class="fas fa-trophy"></i> 6                   
                    </li>
                    <li class="animal-pic">
                        <img src="http://placekitten.com/g/100/100">
                    </li>
                    <li class="animal-name">
                        Cleo
                    <li class="animal-type">
                        Dog
                    </li>
                    <li class="animal-age">
                        Baby
                    </li>
                    </li>
                </ul>

                <ul class="animal">
                    <li class="animal-rank">
                        <i class="fas fa-trophy"></i> 7                   
                    </li>
                    <li class="animal-pic">
                        <img src="http://placekitten.com/g/100/100">
                    </li>
                    <li class="animal-name">
                        Ginger
                    <li class="animal-type">
                        Dog
                    </li>
                    <li class="animal-age">
                        Adult
                    </li>
                    </li>
                </ul>

                <ul class="animal">
                    <li class="animal-rank">
                        <i class="fas fa-trophy"></i> 8                    
                    </li>
                    <li class="animal-pic">
                        <img src="http://placekitten.com/g/100/100">
                    </li>
                    <li class="animal-name">
                        Choco
                    <li class="animal-type">
                        Cat
                    </li>
                    <li class="animal-age">
                        Adult
                    </li>
                    </li>
                </ul>

                <ul class="animal">
                    <li class="animal-rank">
                        <i class="fas fa-trophy"></i> 9                    
                    </li>
                    <li class="animal-pic">
                        <img src="http://placekitten.com/g/100/100">
                    </li>
                    <li class="animal-name">
                        Lucky
                    <li class="animal-type">
                        Cat
                    </li>
                    <li class="animal-age">
                        Baby
                    </li>
                    </li>
                </ul>
                
                <ul class="animal">
                    <li class="animal-rank">
                        <i class="fas fa-trophy"></i> 10                   
                    </li>
                    <li class="animal-pic">
                        <img src="http://placekitten.com/g/100/100">
                    </li>
                    <li class="animal-name">
                        Fluffy
                    <li class="animal-type">
                        Dog
                    </li>
                    <li class="animal-age">
                        Baby
                    </li>
                    </li>
                </ul>

            </div>
        </div>

  <body>


<script>var current = document.getElementById("leaderboards"); current.classList.toggle("current"); current.removeChild(document.getElementById("leaderboards-link")); current.textContent = "Leaderboards";</script>

