

{{#section 'head'}}
    <!-- stuff that goes in head...example: -->
     <meta charset="utf-8">
      <title>Rate Animals</title>

      
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
      <script src="/rate/RandomAnimals.js" charset="utf-8" defer></script>
      <script src="/rate/rateBox.js" charset="utf-8" defer></script>
      <script src="/rate/buttonPress.js" charset="utf-8" defer></script>
      <script src="/rate/reportButton.js" charset="utf-8" defer></script>
      <link rel="stylesheet" href="/rate/button.css" media="screen">
      
     
{{/section}}

<div id="button-holder">
  <button id="rate-button" type="button">Start Rating!</button>
</div>


<script>var current = document.getElementById("rate"); current.classList.toggle("current"); current.removeChild(document.getElementById("rate-link")); current.textContent = "Rate";</script>

