

#wrapper{
    text-align:center;
    
}
#submitAnimalHolder{
    background-color:white;
    box-shadow: 10px 10px 10px #00000060;
    display:inline-block;
    border-radius:15px;
    margin-top:100px;
    position:relative;
    overflow:hidden;
  
}

#animalDropzone{
    height:20%;
    width:50%;
    border: 4px dotted #40c2c7;
    cursor:pointer;
    display:table;
    border-radius: 15px;
    overflow:hidden;
}

.dz-message{
    vertical-align: middle;
    display:table-cell; 
}

.dz-button{
    border:none;
    background-color:white;
    cursor:pointer;
    font-size: 3vh;
}

#animalSelectorHolder{
    text-align:left;
    width:100%;
    height:10%;
    font-size: 3vh;
    margin-top:1%;
    margin-left:2%;

}


#otherInputHolder{
    margin-top:1%;
    margin-left:2%;
    text-align:left;
    height:10%;
    width:100%;
    font-size:3vh;
    display:none;
}

#ageHolder{
    text-align:left;
    margin-top:1%;
    margin-left:2%;
    width:100%;
    height:10%;
    font-size:3vh;
}

#nameInputHolder{
    margin-top:1%;
    margin-left:2%;
    text-align:left;
    height:10%;
    width:100%;
    font-size:3vh;
 
}

#characterCount, #otherCount{
    font-size:1.5vh;
    text-align:left;
    display:inline;
    color:#3bc456;
    
}
#submitButtonHolder{
    position:absolute;
    bottom:0px;
    text-align:center;
    width:100%;
    height:10%;
    margin-bottom:15px;

   
}

#submitButton{
    border:none;
    background-color:#6565cf;
    width:20%;
    height:100%;
    border-radius:5px;
    box-shadow:5px 5px 10px #00000086;
    color:white;
    cursor:pointer;
    transition:box-shadow .5s;
}

#submitButton:hover{
    box-shadow:10px 10px 10px #00000086;
}



.selectOption{
    color:#cccccc;
}
