

.gallery {
    flex: 0 1 28%;
    display: flex;
    margin: 10px;
    padding: 40px;
    border: 1px solid #dadada;
    border-radius: 2px;
    background-image: linear-gradient(#89cff0,#bb99ff);
  }

.gallery-container {
    margin-top:30px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content:center;
    height:70%;
    overflow-y:auto;
    width:100%;
}

.picture {
    background-color: #ccc;
    padding: 40px;
    max-height: 120px;
    max-width: 40%;
    min-height: 90px;
    min-width: 30%;
    display: inline-block;
    margin-left: -50px;
    margin-right: -50px;
    width: 90%;
    
}

.content {
    flex: 1 1 60%;
    margin-top: 10px;
    text-align: center;
}

.content .picture {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 50px;
    position: relative;
    top: 50px;
    text-align: center;
}

.content .animalName {
    position: relative;
    top: -20px;
    text-align: center;
    text-decoration: None;
    color:white;
    font-size:2vw;
}

.description{
    color:white;
    font-size:1.5vw;
}

#options {
    display: flex;
    list-style: none;
    padding: 20px 20px 20px 20px;
    position: relative;
    top: 50px;
    justify-content: center;
}


.listOption a{
    font-size: 60px;
    position: relative;
    padding-inline: 30px;
    padding-left: 25px;
}

#greaterContainer {
    border-radius: 30px;
    background-color: #ffffff;
    height:750px;
    
    width: 70%;
   
    margin-top:80px;
    border: 10px;
    box-shadow:10px 10px 10px #00000060;
}


#listOption-navbar-search{
    display: flex;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px 20px 20px 20px;
    position: fixed;
    justify-content: center;
    max-height: 30px;
    visibility: hidden;
}

#navbar-search-button {
    margin-left: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-image: linear-gradient(#89cff0,#bb99ff);
    visibility: hidden;
}

#navbar-search-input {
    visibility: hidden;
}

#navbar-search-button:hover {
    color: #ffffff;
  }

a:hover, a:focus {
  color: #319df6;
}


#loadMore {
    margin-left: 20px;
    font-size: 25px;
    border-radius: 5px;
    background-image: linear-gradient(#89cff0,#bb99ff);

}

#loadButton{
    width:100%;
    text-align:center;
    position:relative;
    overflow:hidden;
    z-index:0;
    margin-top: 20px;
}


#ageSelectorHolder{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;

}


#nameSelectorHolder{
    padding-left: 10px;

}

