.leaderboard{
    margin: 50px 10%;
    

}

.list-container{
    display: flex;
    min-height: 20px;
    margin: 20px;
    padding: 20px;
    Color: black;
    width: 700px;
    height: 20px;
    background-color:  #ffffff;
    flex: 0 1 30%;
    flex-wrap: nowrap;
    min-width: 300px;
}

.animal-text{
    flex-wrap: wrap;
    position: relative;
    height: 20px;
    width: 100px;
    
    
}

.animal-name{
    Color: black;
    font-family: 'Roboto';
    min-width: 50px;
    min-height: 20px;
}

.animal-description{
    position: relative;
    float: right;
    bottom: 20px;
    Color: black;
    font-family: 'Roboto';
    min-width: 50px;
    min-height: 20px;
    padding-left: 120px;
    /*right: -110px;
    display: inline-block;
    
    padding: 10px;
    padding-right: 120px;*/
}