.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius:5px;
   
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: fixed;
    top:20%;
    left:5%;
   
    opacity:0;
    display:none;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:5px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius:5px;
  }
  .dropdown-content a.active{
    background-color:#8f8f8f;
    color:white;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a.inactive:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: rgb(199, 199, 199);
  }