*{
  margin:px;
  padding:0px;
  font-family: 'Rubik', sans-serif;
}

#content{
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  font-size: 50px;
  position: relative;
  top: 50px;
  text-align: center;
  color: white;
}

button {
  cursor: pointer;
} 


#sort-by-button {
  cursor: pointer;
  color: white;
  background-color: #b3ecff;
  font-size: 40px;
  padding: 3px;
  border-radius: 10px;
  border: solid 3px;
}

button:hover {
  background-color: grey;
  cursor: pointer;
}

#sort-dropdown{
    list-style: none;
    margin-left: 250px;
    margin-top: px;
    margin-bottom: 50px;

}

a#sort-choice{
  color: white;

}

ul{
  list-style: none;
}

#createBox{
    width: 400px;
    height: 474px;
    border: 5px solid white;
    color: white;
    overflow: scroll;
    border-radius: 15px;
    position: relative;
    top: -10px;
    margin: auto;
    width: 60%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7); 
    background-color:  #b3ecff;
    box-shadow: 5px 10px #e6e6e660
}

a:link{
  text-decoration: none;
}

/* Mini boxes */
#createBox {
 /* margin: 50px 10%; 
  display: flex; */
  flex-wrap: wrap;
}

.animal{
  border: white;
  border-radius: 10px;
  position: relative;
  justify-content: left;
  padding: 15px; 
  padding-bottom: 8px;
  list-style: none;
  /* display: flex; */
  font-size: 30px;
  justify-content: left;
  /* space between each row */
  margin: 2px 10px 10px 2px;
  background-image: linear-gradient(#89cff0,#bb99ff);
}

img {
  border-radius: 20%;
}

/* condense */
.animal-rank{
  /* padding: 5px 60px 5px 20px; */
  /* position: relative; */
  /* top: 40px; */
  float: right;
  font-size: 45px;
  /* right: 30px; */
  margin-top: 49px;
  margin-right: 30px;
}


.animal-rank-trophy{
  float: right;
  font-size: 45px;
  /* right: 30px; */
  /* margin-left: 0px; */
  margin-top: 49px;
  margin-right: 30px;
}

.animal-name{
  padding: 5px 60px 5px 20px;
  position: relative;
  top: 7px;
}

.animalImage{
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 15px;
  border: solid;
  padding: 5px;
}

#loadMore{
  position: relative;
  justify-content: left;
  margin-left:0px;
  padding-left:0px;
}

ul.animal {
  height: 170px;
}

h3 {
  font-weight: 500;

}

h5 {
  font-weight: 100;
}

.sortOption {
  color: white;
  background-color: #b4ecff;
  border: solid white;
  padding: 5px;
  margin-left: 8px;
  display: inline-block;
  width: 150px;
  font-size: 18px;
}

button#loadMore{
  background: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  color: #79bcfe;
  border: solid 2px;
}
#topFirst {
   visibility: hidden;
}

#lastFirst {
  visibility: hidden;
}  

.sortOption:hover{
  background: #989898;
}