*{
  margin:0px;
  padding:0px;
  font-family: 'Rubik', sans-serif;
}

h1{
    font-family: 'Bungee Outline', cursive;
    color: white;
    font-size: 50px;
    position: relative;
    top: 50px;
    text-align: center;
}

button {
  background: none;
  cursor: pointer;
  color: white;
  background-color: #b3ecff;
  font-size: 50px;
  /* c
  top: 50px;
  left: 150px;
  padding: 2px 5px 2px 5px; */
  padding: 3px;
  border-radius: 15px;
  border-color: none;
  border: solid;
}
button:hover {
  background-color: grey;
  cursor: pointer;
}

#sort-dropdown{
  position: relative;
  left: 150px;
  padding: 2px 5px 2px 5px; 
  list-style: none;
}

a#sort-choice{
  color: white;

}

ul{
  list-style: none;
}

#createBox{
    width: 400px;
    height: 500px;
    border: 5px solid white;
    color: white;
    overflow: scroll;
    border-radius: 15px;
    position: relative;
    top: 50px;
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7); /*can be anything, of course*/
    background-color:  #b3ecff;
    box-shadow: 5px 10px #e6e6e660
}

#boardColumns {
    display: flex;
    list-style: none;
    padding: 8px 25px 0px 25px;
    margin: 0px 0px 0px 0px;
    position: relative;
    top: 40px;
    position: relative;
    justify-content: center;
    font-size: 30px;  
}

.boardItem {
    position: relative;
    padding-inline: 70px;
    font-weight: bold;
    color: white;
}

#boardColumns a:link{
  text-decoration: none;
  color: white;
}
#boardColumns a:visited{
  color: white;
}

a:link{
  text-decoration: none;
}

/* Mini boxes */
#createBox {
 /* margin: 50px 10%; 
  display: flex; */
  flex-wrap: wrap;
}

.animal{
  border: white;
  border-radius: 10px;
  position: relative;
  justify-content: left;
  padding: 15px; 
  padding-bottom: 8px;
  list-style: none;
  display: flex;
  font-size: 30px;
  justify-content: left;
  /* space between each row */
  margin: 2px 10px 10px 2px;



  background-image: linear-gradient(#89cff0,#bb99ff);

}
/*
ul .animal{
  padding: 10px;
}*/


img {
  border-radius: 20%;
}

/* condense */
li.animal-rank{
  padding: 5px 60px 5px 20px;
  position: relative;
  top: 7px;
}

li.animal-name{
  padding: 5px 60px 5px 20px;
  position: relative;
  top: 7px;
}
li.animal-type{
  padding: 5px 60px 5px 20px;
  position: relative;
  top: 7px;
}

li.animal-age{
  padding: 5px 60px 5px 20px;
  position: relative;
  top: 7px;
}