*{
    margin:0px;
    padding:0px;
    font-family: 'Rubik', sans-serif;
}

:root{
    --background-color: #ffe4c9;
    --secondary-color: #4c4cb9;
}


body{
    background-color:var(--background-color);
}

/*navbar*/
#topbar{
    background-color:white;
    box-shadow:0px 10px 10px #00000065;
    padding-bottom:20px;
    padding-top:20px;
    font-size:25px;  
}
#navlist li{
    flex-shrink:0;
    flex-grow:0;
    padding:0px;
    list-style-type:none;
    margin-left:2rem;
}
#navlist li:nth-child(5){
    flex-grow:1;
    text-align:right;
}
#navlist li:nth-child(6){
    margin-right:2rem;
}

#navlist{
    padding:0px;
    display:flex;
    flex-flow:row wrap;
    justify-content:flex-start;
}

.current{
    text-decoration:underline #4c4cb9;
}

#navlist a:link{
    text-decoration:none;
    color:black;
}
#navlist a:visited{
    color:black;
}
#navlist a:hover{
    color: var(--secondary-color);
}

